.projects-container {

  .header {
    background-color: #19101E;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    font-size: 3em;
    padding: 0.5em 0;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px #000000;

    .project-title {
      background-color: #FE7870;
      padding: 0.1em 0.3em;
      margin-left: 1em;
      cursor: default;
    }

    .exit-button {
      background-color: #FE7870;
      padding: 0.1em 0.3em;
      text-decoration: none;
      margin-right: 1em;
    }

    .exit-button:hover {
      background-color: rgb(255, 87, 77);
    }
  }

  .projects-item {
    display: flex;
    width: calc(100% / 2 - 10em);
    margin: 2em 5em;

    .project-image {
      width: 200px;
      height: 200px;
      background-color: red;
    }

    .project-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px;
      font-family: 'VT323', monospace;
      text-shadow: 2px 2px #000000;

      .project-name {
        font-size: 2em;
      }

      .project-link {
        text-decoration: none;
        font-size: 1.3em;
        background-color: #FE7870;
        padding: 0.1em 0.3em;
      }

      .project-link:hover {
        background-color: rgb(255, 87, 77);
      }

    }
  }
}