.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .navigation-item {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 15em;
    margin: 0.4em;
    padding: 1em 0;
    text-align: center;
    border: 2px solid #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px #000000;
    font-size: 1.5em;
    transition: 0.2s ease-out;
  }

  .navigation-item:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    transform: scale(1.1);
    color: #FE7870;
    border: 2px solid #FE7870;


  }
}