.header {
  max-width: 50%;
  padding-top: 19em;
  margin: 0 auto;
  text-align: center;

.header-title {
  font-family: 'VT323', monospace;
  text-shadow: 2px 2px #000000;
  font-size: 4em;
  margin-bottom: 0.1em;

    .shukur {
      color: #FE7870;
    }
  }

  .header-text {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 1em;
    margin-bottom: 0.1em;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px #000000;
  }

}