* {
  color: #fff;
}

html, body, #root {
  height: 100%;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/background2.jpg") no-repeat center center fixed;
  background-size: cover;
}

::selection {
  background-color: #FE7870;
}

button::-moz-focus-inner {
  border: 0;
}

